:root{

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.box {
    flex-basis: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}


/* order 순서 정해주기 기본값은 0 0부터 시작 -1은 맨처음 */
.box:nth-child(1){
    /* order: 2; */
    background-color: hsl(100, 50%, 50%);
}

.box:nth-child(2){
    background-color: hsl(100, 50%, 60%);
}

.box:nth-child(3){
    /* order: -1; */
    background-color: hsl(100, 50%, 70%);
}

.box:nth-child(4){
    /* order: 1; */
    background-color: hsl(100, 50%, 80%);
}

/* media query를 안줫을때(모바일)는 기본적으로 0부터 계산하기 시작
width 최소값이 1000px이 넘어가면 아래 동작을 실행 */
@media(min-width: 1000px) {
    /* .flex > * {
        color : red;
    } */

    .box {
        flex-basis: calc(100% / 2);
    }
}

@media(min-width: 1200px) {
    .box {
        flex-basis: calc(100% / 3);
    }
    
    .box:nth-child(2) {
        background-color: red;
    }
}

@media(min-width: 1440px) {
    .box {
        flex-basis: calc(100% / 4);
    }

    .box:nth-child(3) {
        background-color: orange;
    }
}
/* 최소 320px 부터 시작해서 최대 640px 까지는 백그라운드가 blue */
@media (min-width: 320px) and (max-width: 640px) {
    .box {
        background-color: blue !important;
    }
}

@media (orientation: landscape) {
    .box {
        background-color: red !important;
    }
}