* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.chevron {

}

.chevron-item {
    width: 20px;
    height: 20px;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    transform: translateY(5px) rotate(45deg);
    margin-top: -10px;
    animation: fadeDown 1s infinite alternate cubic-bezier(1, 0, 0, 1);
}

.chevron-item:nth-child(2){
    animation: fadeDown 1s 0.33333s infinite cubic-bezier(1, 0, 0, 1);
}

.chevron-item:nth-child(3){
    animation: fadeDown 1s 0.66666s infinite cubic-bezier(1, 0, 0, 1);
}

.dot {
    display: flex;
    gap: 20px;
}

.dot-item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    animation: bounce 1s infinite alternate cubic-bezier(1, 0, 0, 1);
}

.dot-item:nth-child(2){
    animation: bounce 1s 0.33333s infinite alternate cubic-bezier(1, 0, 0, 1);
}

.dot-item:nth-child(3){
    animation: bounce 1s 0.66666s infinite alternate cubic-bezier(1, 0, 0, 1);
}


@keyframes bounce {
    from{
        opacity: 0.2;
        transform: translateY(0) scaleY(0.8);
    }
    to{
        opacity: 1;
        transform: translateY(5px) scaleY(1);
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(5px) rotate(45deg);
    }
    50% {
        opacity: 1;
        border-color: green;
    }
    100% {
        transform: translateY(0px) rotate(45deg);
    }
}

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.down {
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-top: 0;
    border-right: 0;
    animation: animation 1s infinite alternate cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes animation {
    0% {
        transform: translateY(0%) rotate(-45deg);
    }

    50% {
        transform: translateY(80%) rotate(-45deg);
    }

    100% {
        transform: translateY(80%) rotate(-45deg);
    }
} */


/* .down1 {
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    animation: anim 1s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

.down2 {
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    animation: anima 1s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

.down3 {
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    animation: animat 1s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes ani {
    0% {
        transform: translateY(0) rotate(-45deg);
        
    }

    100% {
        transform: translateY(80%) rotate(-45deg);
    }
}

@keyframes anim {
    0% {
        transform: translateY(0) rotate(-45deg)
    }

    100% {
        transform: translateY(80%) rotate(-45deg);
    }
}

@keyframes anima {
    0% {
        transform: translateY(0) rotate(-45deg)
    }

    100% {
        transform: translateY(80%) rotate(-45deg);
    }
}

@keyframes animat {
    0% {
        transform: translateY(0) rotate(-45deg)
    }

    100% {
        transform: translateY(80%) rotate(-45deg);
    }
} */