<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <figure class="box">
            <img src="image/1.jpg" alt="바다1">
            <figcaption>입니다</figcaption>
        </figure>

        <figure class="box">
            <img src="image/2.jpg" alt="바다2">
        </figure>

        <figure class="box">
            <img src="image/3.jpg" alt="바다3">
        </figure>

        <figure class="box">
            <img src="image/4.jpg" alt="바다4">
        </figure>

        <figure class="box">
            <img src="image/5.jpg" alt="바다5">
        </figure>

        <figure class="box">
            <img src="image/6.jpg" alt="바다6">
        </figure>

        <figure class="box">
            <img src="image/7.jpg" alt="바다7">
        </figure>
        
    </div>
</body>
</html>